<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Make you Happy</h1>
    <h2 class="text-white">Pictgram is a service that you can post photos.</h2>
    <div class="row">
    <!--  <p class="Ryusei-comment">-->
    <!--  1万7000種類以上の職業があるこの国で、<br><br>-->
    <!--  ほとんどの人がたった数個の職業の中から選んだものを仕事にする。<br><br>-->
    <!--  仕事は人生の時間の大半を占めるのは誰もが知っているのに、<br><br>-->
    <!--  その選択はほんの数カ月で決められる。<br><br>-->
    <!--  その選択肢を親とか先生に決められる人だっている。<br><br>-->
    <!--  看護師にしても保育士にしても就職はできるかもしれない。<br><br>-->
    <!--  でももし、実際に働いてみてこの仕事楽しくないなって思ったらどうだろうか？<br><br>-->
    <!--  たぶんほとんどの人が<br><br>-->
    <!--  「看護師の仕事辞めたいけど他の選択肢がない。」<br><br>-->
    <!--  「保育士の仕事辞めたいけど他の選択肢がない。」<br><br>-->
    <!--  ってなるんじゃないかな？<br><br>-->
    <!--  じゃあもし今日から、いつもダラダラしている朝2時間を使って<br><br>-->
    <!--  学校の単位を取る為のテスト勉強だけじゃなくて、<br><br>-->
    <!--  何らかのスキルを身に着ける為の勉強をしたらどうなるだろう？<br><br>-->
    <!--  看護師、保育士のスキルはもちろん、英語が使えるようになったり、<br><br>-->
    <!--  Photoshopが使えるようになったり、動画編集ができるようになったり<br><br>-->
    <!--  自分のできることがどんどん増えていって、選択肢は広がるよね。<br><br>-->
    <!--  選択肢が広がると余裕が生まれて、人生が楽しくなると思うんだ。<br><br>-->
    <!--  そんな人生を歩めるように、これからみんなで一緒にmikachaで学んでいこうね。<br><br>-->
    <!--</p>-->
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'Sign in', new_user_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Log in', login_path, class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>